html,
body {
    margin: 0;
    height: 100%;
    overflow: hidden;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    padding: 0 16px;
    background: url('http://image.wufazhuce.com/FsT8f0U1LqlUtdljfKRR8SOMzGH3') no-repeat center center;
    background-size: cover;
    color: #fff;
    font-family: '微软雅黑';
}

.weather {
    white-space: nowrap;
}

.weather-temp {
    font-size: 52px;
}

.weather-status {
    display: inline-block;
    padding-left: 26px;
    background: url('https://h5tq.moji.com/tianqi/assets/images/weather/w7.png') no-repeat left center;
    background-size: 23px;
    font-size: 18px;
}

.tips-words {
    text-align: right;
    font-size: 14px;
    color: rgba(255, 255, 255, .75);
}

.day-tip {
    color: rgba(255, 255, 255, .8);
    padding: 0 4px;
    font-size: 16px;
}

.day {
    padding: 0 2px;
    color: #fff;
    font-size: 22px;
}

.date-tips {
    font-size: 16px;
    color: rgba(255, 255, 255, .75);
}

.weather-tips {
    font-size: 18px;
    font-weight: 700;
}

.date {
    font-size: 16px;
}

.one-words {
    font-size: 16px;
    color: rgba(255, 255, 255, .8);
}
